/*css had*/

* {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

h2, p, h3 {
	margin: unset;
}

body {
	margin: 0;
	min-width: 1200px;
}

#tpl-contents {
	background: #e1f2f1;
	background-size: cover;
	background-attachment: fixed;
	padding: 50px 0 80px;
}

@media only screen and (max-width: 750px) {
	body {
		min-width: unset;
	}
}


/*end css had*/

.container-wrap {
	padding: 36px 63px 36px 53px;
	background-color: #ffffff;
	margin: auto;
	width: 1060px;
}

.row-symtom {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	width: 100%;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
}

.main-symtom {
	width: 453px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	text-decoration: none;
	cursor: pointer;
	padding: 19px 40px 36px;
	background-color: #ffffff;
	border: 3px solid #3f9aa2;
	-webkit-box-shadow: 7px 7px 0px #b2d7da;
	box-shadow: 7px 7px 0px #b2d7da;
	position: relative;
	margin-bottom: 38px;
}

.content-symtom {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

.main-symtom.w-100 {
	width: 100%;
	padding: 15px 35px;
}

.main-symtom .title-symtom {
	line-height: 50.75px;
	font-size: 29px;
	color: #00a28d;
	font-weight: bold;
	text-align: center;
}

.main-symtom .title-question {
	padding: 14px 0 4px;
}

.main-symtom .img-symtom {
	width: 211px;
	height: 251px;
	margin: auto;
}

.main-symtom .note {
	line-height: 27px;
	text-align: center;
	font-size: 17px;
	padding: 11px 0 7px 0;
	color: #100000;
}

.section-question {
	margin-bottom: 47px;
}

.section-question .note {
	margin-bottom: 8px;
}

.main-symtom.section-checkup {
	padding-top: 26px;
}

.main-symtom.section-checkup .title-large {
	margin-bottom: 7px;
}

.main-symtom.section-video {
	padding-top: 26px;
	padding-left: 56px;
}

.main-symtom.section-video .title-large {
	margin-bottom: 20px;
}

.main-symtom.section-video .note {
	padding-top: 0;
}

.main-symtom .note-checkup {
	text-indent: -9px;
}

.main-symtom .note-top {
	position: relative;
	white-space: nowrap;
}

.main-symtom .note-top::before {
	content: "ふくびくうえん";
	position: absolute;
	text-align: center;
	width: 100%;
	font-size: 5.64px;
	color: #100000;
	top: -7px;
	line-height: 1;
}

.main-symtom .note-2::before {
	content: "ちくのうしょう";
}

.main-symtom .note-3::before {
	content: "はなたけ";
}

.main-symtom .note-top-title::before {
	font-size: 11px;
	color: #00a28d;
	top: -12px;
}

.main-symtom .btn-see {
	width: 316px;
	height: 60px;
	background-color: #ffff00;
	text-decoration: none;
	font-size: 23px;
	font-weight: bold;
	color: #060600;
	border: 2px solid #3f9aa2;
	border-radius: 28.18px;
	position: relative;
	margin: auto;
}

.main-symtom .btn-see.btn-large {
	width: 571px;
}

.main-symtom .btn-see img {
	width: 11px;
	height: 22px;
	position: absolute;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
	right: 60px;
}

.main-symtom .img-ico {
	position: absolute;
	width: 57px;
	height: 76px;
	bottom: -29px;
	right: 10px;
}

.main-symtom .img-ico.img-water {
	width: 39px;
	height: 70px;
	right: 24px;
	bottom: -20px;
}

.main-symtom .list-square {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	margin-bottom: 13px;
}

.main-symtom .list-square .character-left {
	margin-right: 10px;
	width: 460px;
}

.main-symtom .list-square .character-right {
	width: 366px;
	height: 84px;
}

.main-symtom .list-square .square-wrap img {
	margin-bottom: 12px;
}

.list-square .square-wrap.square-wrap-white {
	background-color: #ffffff;
}

.list-square .square-wrap:last-child {
	margin-right: 0;
}

.main-symtom .wrap-img {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: end;
	-ms-flex-align: end;
	align-items: flex-end;
}

.main-symtom .wrap-img .img-table {
	width: 499px;
	height: 294px;
	margin-right: 18px;
}

.main-symtom .wrap-img .question-wrap {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-pack: right;
	-ms-flex-pack: right;
	justify-content: right;
}

.main-symtom .wrap-img .question-wrap .img-people {
	width: 190px;
	margin: auto;
}

.main-symtom .title-large {
	font-size: 36.15px;
}

.main-symtom .wrap-content {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

.main-symtom .wrap-content .wrap-video {
	max-width: 430px;
}

.main-symtom .wrap-content .wrap-video .btn-see {
	margin-right: 0;
}

.main-symtom .wrap-content .img-checkup {
	width: 215px;
	height: 208px;
	margin-right: 40px;
}

.main-symtom .wrap-content .info-wrap {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
}

.wrap-content .info-wrap .title-symtom {
	text-align: left;
}

.wrap-content .info-wrap .note {
	text-align: left;
	line-height: 31px;
}

.main-symtom .title-bottom {
	color: #00a28d;
	font-size: 20.8px;
	line-height: 37px;
	font-weight: bold;
	text-align: center;
}

.wrap-content .img-video {
	width: 339px;
	height: 182px;
	margin-right: 26px;
}

.hide-pc {
	display: none;
}

@media only screen and (max-width: 750px) {
	.container-wrap {
		padding: 10px 39px 10px 35px;
		width: 415px;
		max-width: 100%;
	}
	.main-symtom {
		border: 1px solid #3f9aa2;
		width: 100%;
		padding: 12px 20px 20px;
		-webkit-box-shadow: 3px 3px 0px #b2d7da;
		box-shadow: 3px 3px 0px #b2d7da;
		margin-bottom: 20px;
	}
	.main-symtom.has-nose {
		margin-bottom: 31px;
		padding-bottom: 20px;
	}
	.main-symtom .title-symtom {
		font-size: 14px;
		line-height: 15px;
		margin-bottom: 10px;
	}
	.main-symtom .note-top-title::before {
		font-size: 5px;
		top: -4px;
	}
	.content-symtom {
		-webkit-box-orient: horizontal;
		-webkit-box-direction: normal;
		-ms-flex-direction: row;
		flex-direction: row;
		-webkit-box-align: end;
		-ms-flex-align: end;
		align-items: flex-end;
	}
	.main-symtom .img-symtom {
		width: 119px;
		height: 141px;
		margin: 0 15px 0 5px;
	}
	.main-symtom .note {
		font-size: 11px;
		line-height: 17px;
	}
	.main-symtom .btn-see {
		width: 157px;
		height: 30px;
		font-size: 11.45px;
	}
	.main-symtom .btn-see img {
		width: 6px;
		height: 10px;
		right: 30px;
	}
	.main-symtom .img-ico.img-water {
		width: 18px;
		height: 32px;
		right: 10px;
		bottom: -15px;
	}
	.main-symtom .img-ico {
		width: 27px;
		height: 36px;
		right: 5px;
		bottom: -20px;
	}
	.hide-sp {
		display: none;
	}
	.hide-pc {
		display: block;
	}
	.main-symtom .list-square {
		-webkit-box-pack: start;
		-ms-flex-pack: start;
		justify-content: flex-start;
		-ms-flex-wrap: wrap;
		flex-wrap: wrap;
	}
	.main-symtom .list-square .character-left {
		width: 165px;
		height: 30px;
		margin-bottom: 6px;
	}
	.main-symtom .list-square .character-right {
		width: 132px;
		height: 30px;
	}
	.section-question .note.hide-pc {
		padding-top: 0;
		margin-bottom: 0;
	}
	.question-normal {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-pack: justify;
		-ms-flex-pack: justify;
		justify-content: space-between;
	}
	.question-normal .descrip-question {
		max-width: 100%;
		-webkit-box-flex: 1;
		-ms-flex: 1;
		flex: 1;
	}
	.question-normal .descrip-question .title-symtom {
		text-align: left;
		font-size: 10.4px;
		margin-bottom: 2px;
	}
	.main-symtom.w-100 {
		padding: 15px 20px 20px;
	}
	.question-normal .img-people {
		width: 80px;
		height: 90px;
		margin-right: 20px;
	}
	.main-symtom .wrap-img {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;
	}
	.main-symtom .wrap-img .img-table {
		width: 100%;
		height: 149px;
		margin-right: 0;
		margin-bottom: 12px;
	}
	.question-wrap {
		width: 100%;
	}
	.wrap-content {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;
		-webkit-box-pack: center;
		-ms-flex-pack: center;
		justify-content: center;
	}
	.main-symtom .wrap-content .img-checkup {
		margin: auto;
		width: 184px;
		height: auto;
	}
	.main-symtom .btn-see.btn-large {
		width: 293px;
		height: 32px;
	}
	.wrap-content .img-video {
		max-width: 172px;
		height: 92px;
		margin: auto;
		margin-bottom: 19px;
	}
	.wrap-content .info-wrap .note {
		line-height: 17px;
	}
	.main-symtom .wrap-content .wrap-video .btn-see {
		margin: auto;
		height: 30px;
	}
	.main-symtom .title-bottom {
		font-size: 10.7px;
		line-height: 19px;
	}
	.main-symtom.section-checkup {
		padding: 15px 15px 20px;
	}
	.main-symtom.section-checkup .note {
		padding-top: 17px;
		margin-bottom: 18px;
	}
	.main-symtom.section-video {
		padding: 15px 30px 6px 30px;
	}
	.main-symtom.section-video .title-large {
		margin-bottom: 13px;
	}
	.main-symtom.section-video .note {
		margin-bottom: 7px;
	}
}

@media only screen and (max-width: 415px) {
	.container-wrap {
		padding: 10px;
		width: 361px;
	}
	.main-symtom .btn-see.btn-large {
		width: 100%;
	}
	.main-symtom .btn-see img {
		right: 20.3%;
	}
}

@media only screen and (max-width: 320px) {
	.main-symtom .btn-see {
		width: 122px;
	}
	.main-symtom .btn-see img {
		right: 13%;
	}
}